body {
  margin: 0;
  background-color: darkseagreen !important;
  color: black;
  font-family: 'Mukta', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
