@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
/* 
.navbar {
  background-color: gray;
  color: #fff;
  font-family: 'Mukta', sans-serif;
} */

.create-form {
  display: flex;
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
  justify-content: center;
}
body {
  background-color: darkseagreen;
  color: black;
  font-family: 'Mukta', sans-serif;
}
