@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
/* 
.navbar {
  background-color: gray;
  color: #fff;
  font-family: 'Mukta', sans-serif;
} */

.create-form {
  display: flex;
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
  justify-content: center;
  font-family: 'Mukta', sans-serif;
}
body {
  background-color: darkseagreen;
  color: black;
  font-family: 'Mukta', sans-serif;
}

.restaurant-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
  background-color: darkgray;
  padding: 1rem;
  border-radius: 5px;
  border-color: black;
  border-style: solid;
  font-family: 'Mukta', sans-serif;
}

.restaurant-buttons {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  width: 30%;
  font-family: 'Mukta', sans-serif;
}

.loader {
  left: 50%;
  margin-left: -4em;
  position: absolute;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: white;
  text-align: center;
  font-family: 'Mukta', sans-serif;
}
svg {
  fill: black;
  float: left;
}
