@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
/* 
.navbar {
  background-color: gray;
  color: #fff;
  font-family: 'Mukta', sans-serif;
} */

.main {
  background-color: darkseagreen;
  color: black;
  font-family: 'Mukta', sans-serif;
}
